/**/
.center{
	text-align: center;
	vertical-align: middle;
}
.centertable{
	text-align: center;
	font-size:3vw;
}
.tabb{
	table-layout: fixed;
	width:100%;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.rating{
	margin-left: 5vw;
}
.modal-content{
	width:100%;
	height:120%;
	position: fixed;
}